 .contenedor {
  position: relative;
  display: inline-block;
  /* Agrega estas propiedades para que el contenedor ocupe toda la pantalla */
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; 
  }
  
  .contenedor h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    border-radius: 15%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px black, 0 0 25px black, 0 0 5px yellow;
    text-decoration: none;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .boton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    color: #000000;
    border: none;
  }
  
  .boton:focus {
    outline: none;
  }
  .boton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    border-radius: 15%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px black, 0 0 25px black, 0 0 5px yellow;
    text-decoration: none;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .boton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    color: #000000;
    border: none;
  }
  
  .boton:focus {
    outline: none;
  }
  
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    width: 100vw;
  }
  